@model WebAssignment.ViewModels.TicketDetailsViewModel
@using WebAssignment.Models
@{
    ViewBag.Title = "Details";
    if (User.IsInRole(RoleName.Administrator))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    var ticket_games = Model.Games;
    var competitions = Model.Competitions;

}

<h2>@Model.Position</h2>
<table id="details_table" class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th>Owner</th>
            <td>@Model.Owner</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Model.Category</td>
        </tr>


    </tbody>
</table>
@if (competitions.Count() < 1)
{
    <h3>This ticket has no assigned games</h3>
}
else
{
    using (Html.BeginForm("UpdatePrices", "Ticket", new { id = Model.Id }))
    {
        foreach (string competitionName in competitions)
        {
            <h3>@competitionName</h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fixture</th>
                        <th>Competition</th>
                        <th>Date</th>
                        <th>Price (€)</th>
                        <th>Sold</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Ticket_Game tg in ticket_games)
                    {
                        var game = tg.GetGame();
                        var sold = (tg.Sold == 1) ? "Yes" : "No";
                        var color = (tg.Sold == 1) ? "green" : "red";
                        if (game.Ref_Competition.Name == competitionName)
                        {
                            <tr>
                                <td>@game.getFixture()</td><td>@game.Ref_Competition.Name</td>
                                <td>@game.Date</td>
                                @if (sold == "Yes")
                                {
                                    <td>@tg.Price</td>
                                }
                                else
                                {
                                    <td><input style="width:100px" class="form-control" name=@game.Id type="number" min="0" value="@tg.Price"></td>
                                }
                                <td>@sold</td>
                                <td>
                                    <span style="cursor:pointer" title="Details" onclick="location.href='@Url.Action("Details", "Game", new { id = game.Id })'" class="glyphicon glyphicon-eye-open"></span>
                                    &nbsp;
                                    <span style="cursor:pointer" title="Edit" onclick="location.href='@Url.Action("Edit", "Game", new { id = game.Id })'" class="glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        }
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-primary">Update Prices</button>
    }
}



